<!--<div>-->
  <!--我是父组件-->
<!--</div>-->
<!--<div>-->
  <!--<input type="text" placeholder="请输入股票代码" [(ngModel)] = "stock">-->
  <!--<app-order [stockCode]="stock" [amount]="100"></app-order>-->
<!--</div>-->
<!--<hr style="height: 5px; background-color: blue">-->
<!--&lt;!&ndash; 输出属性(父子组件间)：将组件price-quote的lastPrice属性，向外面发送，然后指定父组件的priceQuoteHandler来接收 &ndash;&gt;-->
<!--&lt;!&ndash;<app-price-quote (lastPrice)="priceQuoteHandler($event)"></app-price-quote>&ndash;&gt;-->

<!--<hr>-->
<!--<div>-->
  <!--这是在报价组件外，股票代码是{{priceQuote.stockCode}}-->
  <!--价格是：{{priceQuote.lastPrice | number: '2.2-2'}}-->
<!--</div>-->

<app-price-quote (buy)="buyHandler($event)"></app-price-quote>
<app-order [priceQuote]="priceQ"></app-order>

<hr>
<app-child #child1></app-child>
<hr>
<app-child #child2></app-child>
<button (click)="child2.greeting('Mary')">调用child2的greeting方法</button>
{{message}}
